body{
    background: purple;
    
    font-size: 20pt;
    font: normal arial;

}
header{

    color: white;
}

section{
background: white;
border-radius: 10px;
padding: 20px;
width: 505px;

margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562)
}
footer{
    text-align: center;
    color: white;
}
h1{
    text-align: center;
}

div{
    text-align: left;
}
select#flista{
    width: 150px;
    height: 150px;

}